
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content " style="width:200px;!important;">
    {{ with .Params.link }}<a href="{{ . }}">{{ end }}
      {{with  .Params.image }}
        <img src="{{ . }}" style="height:100px;width:150px;object-fit: cover;"/>
      {{ end }}
    </a>
  </div>
  <div class="resume-date">
      <h3 class="mb-3" style="display: inline-block;">
        {{ with .Params.link }}<a href="{{ . }}">{{ end }}
          {{ .Title }}
        </a>
      </h3>
      {{ .Description | safeHTML }}
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
